NET "CLK" LOC ="B8";

#NET "DATAOUT<0>" LOC = "B7";
#NET "DATAOUT<1>" LOC = "C5";
#NET "DATAOUT<2>" LOC = "B6";
#NET "DATAOUT<3>" LOC = "C6";
#NET "DATAOUT<4>" LOC = "B5";
#NET "DATAOUT<5>" LOC = "J3";
#NET "DATAOUT<6>" LOC = "A3";
#NET "DATAOUT<7>" LOC = "B2";

NET "LED3" LOC = "P7";
NET "OUTPIN" LOC = "C6";
NET "START_READ" LOC = "P11";
NET "SDATA" LOC = "B9";
NET "CS" LOC = "A9";
NET "SCLK" LOC = "A10";
NET "TXD" LOC ="C12";
